#root {
  background-color: #f3f3f3;
}
.inputbox {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
  padding: 0.4em;
  padding-left: 1em;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #9d9d9d;
  width: 12em;
}
.input {
  display: inline-block;
  padding: 0.7em;
  margin: 0 3vw 0vw 2vw;
}
.boxname {
  margin: 0.2em;
  margin-left: 0.5em;
  font-weight: 600;
  color: rgb(6, 6, 6);
}
#date_of_birthText {
  width: 15.2em;
}
textarea {
  width: 26em; /*not working*/
  height: 7em;
}
#required {
  color: rgb(199, 30, 30);
}
